body {
	background: 					#E9D8C0;
	font-family: 					sans-serif;
	font-variant: small-caps;
}

.mainDiv {
	position:					relative;
	margin:						auto;
	line-height: 					1em;
	width: 						65.5em;
}

.navBar {

	float:						top;
	margin-top: 					0.5em;
	background-color: 				#3799A6;
	border-radius: 					0.5em;
	border-style: 					dotted;
	border-width: 					0.1px;
	border-color: 					#1A7D8A;
	width: 						99.8%;
	height: 						2.5em;
	text-align: 					center;

}

.navbar-element {
	color:						black;
	font-size: 					medium;
	background-color: 				#2BB9CC;
	border-radius: 					2em;
	border-style:					solid;
	border-color: 				#1A7D8A;
	float:						right;
	margin-top:					0.5em;
	margin-left: 					0.5em;
	margin-right: 					0.5em;
	height:						1.5em;
	width:						8em;


	-moz-user-select: 				none;
 	-khtml-user-select: 				none;
  	-webkit-user-select: 				none;
	-ms-user-select: 				none;
	user-select: 					none;
	cursor:  					pointer;
}

.navbar-element:hover {
	background-color: 				#0FCCE5;
	color:							black;

	box-shadow: 					0 0 0.3em 0.03em rgba(0,0,0,0.7);
	transition: 					0.6s;
}

.navbar-element:focus {
	outline:none;
	background-color: 				#0FCCE5;
	color:							black;
	box-shadow: 					0 0 0.3em 0.03em rgba(0,0,0,0.7);
}



.navBar-logo {

	float:						left;
	margin-top: 					0.25em;
	margin-left: 					0.25em;
	background-image: 				url('./images/logo.png');
	background-size:				1.95em 1.95em;
	background-repeat: 				no-repeat;
	height:						2.25em;
	width :						2em;
	padding-left: 					1em;

}

.listComponent {

	float:						left;
	margin-top: 					0.15em;
	background-color: 				lightgrey;
	border-style: 					none dotted dotted dotted;
	border-color: 					#1A7D8A;
	border-width: 					0.1px;
	border-top-left-radius: 				0.5em;
	border-top-right-radius: 				0.5em;
	height:						45em;
	width:						10em;
	overflow-y: hidden;
}


.list {
	padding:	 				0 0 0 0;
	margin-top:					0;
	overflow-y:auto;
	height: 43em;
	direction:rtl;
}

.list::-webkit-scrollbar {
	width:0.25em;
     background-color: transparent;
     -webkit-border-radius: 1em;
}
 
.list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: transparent;
     -webkit-border-radius: 1em;
}
 
.list::-webkit-scrollbar-thumb:vertical {
  background-color: #2BB9CC;
  height:50px;
  -webkit-border-radius: 1em;
  
}

.list-item {
	list-style:  					none;
	background-color: 				#2BB9CC;
	border-radius: 					0.25em;
	border-style:					solid;
	border-color: 					#1A7D8A;
	height: 						1.5em;
	margin-left:					0.25em;
	margin-right:					0.25em;
	margin-bottom: 					0.25em;
	padding-top:					0.25em;
	text-align: 					center;


	-moz-user-select: 				none;
 	-khtml-user-select: 				none;
  	-webkit-user-select: 				none;
	-ms-user-select: 				none;
	user-select: 					none;
	cursor: 						pointer;
}

.list-item:hover {
	background-color: 				#0FCCE5;
	color:							black;

	box-shadow: 					0 0 0.3em 0.03em rgba(0,0,0,0.7);
	transition: 					0.6s;
}

.header {

	margin-top: 					0;
	float:						bottom;
	overflow: 					auto;
	border-style: 					none none dotted none;
	border-width: 					0.1px;
	border-color: 					#1A7D8A;
	color:						#efefef;
	background-color: 				#3799A6;
	border-top-left-radius: 				0.5em;
	border-top-right-radius: 				0.5em;
	text-align: 					center;
	font-size: 					small;
}

.viewComponent {

	float:						left;
	margin-left: 					0.25em;
	margin-top: 					0.15em;
	background-color: 				lightgrey;
	border-style: 					none dotted dotted dotted;
	border-color: 					#1A7D8A;
	border-width: 					0.1px;
	border-top-left-radius: 				0.5em;
	border-top-right-radius: 				0.5em;
	height:						45em;
	width:						55em;
}

.viewComponent table {
	margin:auto;
	text-align: center;
	vertical-align: middle;
	width: 70%;
	background-color: #3799A6;

}

.viewComponent td {
	background-color: #61C7D6;
	padding-top:0.25em;
	padding-bottom:0.25em;
	margin-bottom: 0.5em;

	-moz-user-select: 				none;
 	-khtml-user-select: 				none;
  	-webkit-user-select: 				none;
	-ms-user-select: 				none;
	user-select: 					none;

	cursor:crosshair;
}

.viewComponent td:hover {

	background-color: 				#378D9A;
	color:							white;
	box-shadow: 					0 0 0.3em 0.03em rgba(0,0,0,0.7);
	transition: 					0.6s;
}